.splide__arrow {
    background-color: #04ce78;
    width: 3em;
    height: 3em;
}

/* .splide__arrow--next {
    right: 1em;
} */

/* ---------- media queries */

@media only screen and (max-width: 1023px) {
    .splide__arrow {
        width: 2em;
        height: 2em;
    }
}