.splide__arrow {
    background-color: #ffffff;
    width: 3em;
    height: 3em;
}

/* .splide__arrow--next {
    right: 1em;
} */

.text-mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}


/* ---------- media queries */

@media only screen and (max-width: 1023px) {
    .splide__arrow {
        width: 2em;
        height: 2em;
    }
}